<div class="home-hero">
 <div class="jumbotron">
   <h1>Text Buddy</h1>
   <hr>
   <p>Twilio's Programmable SMS API helps you add robust messaging capabilities to your applications.
Using this REST API, you can send and receive SMS messages, track the delivery of sent messages, and retrieve and modify message history.</p>
   <a href="/twilio" class="btn btn-primary btn-lg">Send Message</a>
    </div>
</div>
