/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 **/

 html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
 }

 body {
   height: 100%;
 }

.fa-envelope {
   font-size: 24px;
   color: white;
   padding-left: 10px;
   position: relative;
   top: 2px;
}

.home-hero {
   height: 100%;
   background: #e9ecef;
   background-repeat: no-repeat;
   background-size: cover;
}

li > a {
   transition: .3s all ease-in-out;
   &:hover {
      color: dodgerblue !important;
   }
}

.form-container {
   padding: 0;
   height: 100%;
   .jumbotron {
      padding-left: 0 !important;
      padding-right: 0 !important; 
      padding-top: 3rem !important;   
      padding-bottom: 5rem !important;           
      margin: 0 !important;
   }
}


footer {
   a {
      color: dodgerblue !important;               
      transition: .3s all ease-in-out;      
      &:hover {
         color:limegreen !important;         
         text-decoration: none;
      }
   }
}

 @import "bootstrap";

